
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    list-style: none;
    padding-block: 5px;
    border-bottom: 5px double var(--primary-color);
}

